<div class="wrapper yellow-bg">
	<div class="row">
		<!-- Introduction -->
			<div class="col-md-6 col-md-offset-3">
					<div class="icon-padding text-center">
						<div class="introduction">
							<p class="introduction-text introduction-text-a">The focus of my work is making</p>
							<p class="introduction-text introduction-text-b">complex interfaces and concepts more</p>
							<p class="introduction-text introduction-text-a">intuitive and engaging, without</p>
							<p class="introduction-text introduction-text-b">compromising the integrity of the</p>
							<p class="introduction-text introduction-text-a">design.</p>
							<ul class="list-right text-center list-center list-hover">
								<li><a class="social-icons" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a class="social-icons" href=""><i class="fa fa-github" aria-hidden="true"></i></a></li>
								<li><a class="social-icons" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div><!-- /.child-box -->
					</div><!-- /.parent-box -->
			</div><!-- /.col-md-8 -->
	</div><!-- /.row -->
</div>
<!-- The Design Process -->
	<div class="wrapper">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="parent-box">
					<div class="child-box">
						<h2>The Design Process</h2>
						<h3 class="link-after"><a class="btn-home sliding-thin" href="/#/process">View Process <i class="fa fa-arrow-circle-o-right btn-arrow-circle-o-right" aria-hidden="true""></i></a></h3>
					</div><!-- child-box -->
				</div><!-- parent-box -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.wrapper -->

<!-- Portfolio -->
	<div class="wrapper yellow-bg">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="parent-box">
					<div class="child-box">
						<h2>Creative Front-End Developer</h2>
						<h3 class="link-after"><a class="btn-home sliding-thin" href="/#/portfolio">View Process <i class="fa fa-arrow-circle-o-right btn-arrow-circle-o-right" aria-hidden="true""></i></a></h3>
					</div><!-- child-box -->
				</div><!-- parent-box -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.wrapper -->