<!-- Footer -->
<footer>
	<div class="footer-container">
		<div class="row">
			<div class="col-md-12 text-center  icon-padding">
				<ul class="list-right text-center list-center list-hover">
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				</ul>
				<h4><i class="fa fa-copyright" aria-hidden="true"></i> Danniel Rolfe 2016</h4>
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!--/.footer-container -->		
</footer>