<div class="header-wrapper yellow-bg">
	<div class="container">


		<div class="row">
			<div class="col-md-12">
				<a href="/#/" class="logo"><h1 class="text-center" id="logo">Danniel Rolfe</h1></a>
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->

	</div><!-- /.container -->

	<nav class="navbar nav-bg navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" id="nav-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- /.navbar-header -->
			<div id="box navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav" id="menu">
					<li><a href="/#/" class="active menu-item sliding" id="home">Home</a></li>
					<li><a href="#/process" class="menu-item sliding">Process</a></li>
					<li><a href="#/portfolio" class="menu-item sliding">Portfolio</a></li>
					<li><a href="#/about" class="menu-item sliding">About</a></li>
					<li><a href="#/contact" class="menu-item sliding">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav><!-- /.navbar -->


</div><!-- /.yellow-bg .div-height -->


